* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  touch-action: pan-x pan-y;
}

body {
  overflow: hidden;
  background: black;
}

header {
  position: fixed;
  top: 0;
  right: calc(50% - 48vw);
  z-index: 30;
  height: 50px;
  width: 96vw;
  margin: 1vh 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 30px;
}


.box {
  position: fixed;
  bottom: 0;
  right: calc(50% - 50vw);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.line {
  position: absolute;
  top: -10px;
  right: calc(50% - 50px);
  height: 4px;
  width: 100px;
  background: rgba(0, 0, 0, .4);
  border-radius: 20px;
  -webkit-user-select: none;
  user-select: none;
  animation: line 0.5s ease-in alternate 4;
}

@-webkit-keyframes line {
  to {
    transform: translateY(-5px);
  }
}

.section {
  overflow-x: hidden;
  height: 150vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  padding: 0 20px 0 0;
}

.section_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  flex: 0 0 300px;
  height: 350px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.item-bg {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  background: black;
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
}

.cont {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
/*   margin: 0 2vw 20px 2vw; */
  background: lightblue;
  height: 100vh;
  width: 100%;
/*   border-radius: 30px; */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */




.item1 {
  background: none;
  scroll-snap-align: start;
  height: 30vh;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}

.item2 {
  background: none;
  scroll-snap-align: start;
  height: 50vh;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}

.item-line {
  z-index: 20;
  background: none;
  scroll-snap-align: start;
  height: 10vh;
  -webkit-user-select: none;
  user-select: none;
}

.item3 {
  z-index: 20;
  background: radial-gradient(circle, hsla(179, 83%, 64%, .5) 0%, hsla(106, 54%, 68%, .6) 14%, hsla(44, 92%, 60%, .7) 30%, hsla(338, 75%, 64%, .9) 56%, hsla(195, 78%, 77%, .7) 82%, hsla(14, 92%, 86%, .2) 100%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  scroll-snap-align: start;
  height: 110vh;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: none;
  padding: 30px;
}


.item-title {
  margin-bottom: 30px;
  border-bottom: 1px solid RoyalBlue;
}

.item-p {
  margin-bottom: 50px;
}

.item-btn {
  outline: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  background: black;
  user-select: none;
  -webkit-user-select: none;
}

.item-btn:active {
  background: #111;
}
